* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 12px !important;
    background-color: #f5f5f5;
    color: #333;
}


/* 头部 */

#header {
    background-color: #fff;
    min-width: 1070px;
}

.header_top {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
}

.wrapper {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.site {
    color: #666;
}

.wra_right ul li {
    float: left;
    position: relative;
    z-index: 600;
    float: left;
    height: 30px;
    padding: 0 10px;
}

.wra_right ul a {
    color: #666;
}

.wra_right .hd_login_link {
    color: #ff4040;
}

.wra_right .hd_regist_link {
    color: #AAAAAA;
}


/* 头部下 */

.header_bottom {
    height: 180px;
    width: 100%;
    max-width: 1920px;
    background: url(./images/11111.png) center no-repeat;
    margin: 0 auto;
    position: relative;
}

.wrapper_main {
    position: absolute;
    height: 180px;
    background-repeat: no-repeat;
    top: 0px;
    left: 50%;
    margin-left: -535px;
    width: 1070px;
}

.logo {
    float: left;
    position: relative;
    width: 300px;
    height: 140px;
}

.logo_left {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin-top: 1px;
}

.logo_left img {
    max-width: 100%;
    max-height: 100%;
    border: 0 none;
    vertical-align: top;
}

.logo_right {
    display: table;
    width: 160px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 30px;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.logo_right img {
    max-width: 100%;
    max-height: 100%;
    width: 160px;
    height: 90px;
    border: 0 none;
    vertical-align: top;
}

.search {
    float: right;
    padding-top: 50px;
    margin-right: 130px;
}

.hd_search_wrap {
    border-radius: 100px;
    padding: 1px;
    background: 0;
    box-sizing: border-box;
    position: relative;
}

.hd_search_ipt {
    width: 480px;
    border-radius: 100px;
    height: 38px;
    line-height: 38px;
    color: #333;
    background: #fcfcfc;
    font-size: 14px;
    text-indent: 20px;
    border:1px solid #999;
}

.hd_search_btn {
    position: absolute;
    height: 38px;
    right: 0;
    top: 1px;
    background-color: transparent;
    color: #333;
    text-indent: -11px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    float: left;
    width: 50px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    line-height: 36px;
    /* border: 0 none; */
    font-size: 20px;
}

.hd_hot_search {
    height: 19px;
    padding-top: 8px;
    padding-left: 32px;
    /* overflow: hidden; */
    font-size: 14px;
}

.hd_hot_search a {
    float: left;
    margin-right: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #aaa;
}

.cart {
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
}

.cart a {
    display: block;
    width: 120px;
    height: 38px;
    overflow: hidden;
    padding: 9px 0 9px;
    border: 1px solid #e2e2e2;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 16px;
}


/* 头部导航 */

.header_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}

.header_nav .type {
    height: 100%;
    width: 140px;
    text-align: center;
    color: #fff;
    background-color: #ff4040;
    cursor: pointer;
    position: absolute;
    width: 140px;
    height: 100%;
}

.nav_list {
    padding-left: 140px;
    color: #333;
    overflow: hidden;
    height: 100%;
}

.nav_list li {
    float: left;
    margin-left: 30px;
    cursor: pointer;
}

.nav_list li a {
    color: #333333;
}

.goodslist ul{
    width: 1108px;;
    margin:0 auto;
}
.goodslist li{
    float: left;
    width:250px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 350px;
    margin: 0px 5px 5px 0;
}
.goodslist li img{
    width: 250px;
}


/* 详情页 */

.details{
    width: 1070px;
    margin: 50px auto;
}
.details_left{
    float: left;
    width:400px;
    position: relative;
}
.details_right{
    float: left;
    margin-left: 420px;
}

.scale{
    position: absolute;
    left:0px;
    top:0px;
}
.bf{
    width:500px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: absolute;
    left:410px;
    top:0px;
    visibility: hidden;
    
}
.sf{
    width:100px;
    height: 100px;
    position: absolute;
    background: orange;
    opacity: 0.3;
    left:0px;
    top:0px;
    visibility: hidden;
    cursor: move;
}
.bpic{
    width: 800px;
    height: 800px;
    display: block;
    position: absolute;
    left:0;
    top:0;
}

.spic{
    border:1px solid #ccc;
    width:402px;
    position: relative;
}

.spic img{
    width:400px;
    display: block;
}

.icolist{
    width:400px;
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
}
.movelist{
    width: 376px;
    height: 62px;
    float: left;
    overflow: hidden;
    position: relative;
    
}
.movelist ul{
    position: absolute;
    left:0px;
    top:0px;
}
.movelist li{
    float: left;
    padding:0 5px;
    margin-right: 5px;
}
#left,#right{
    text-decoration: none;
    width:12px;
    float: left;
}
#left{
    color:#fff;
}
#right{
    color:#333;
}
.movelist li{
    width:57px;
    height: 60px;
    border: 1px solid #ccc;
}
.movelist li img{
    width:50px;
    display: block;
}
.details_right .title{
    font-size: 16px;
    color: orange;
}
.details_right .title,.details_right .price{
    line-height: 36px;
}
.goodsnum input{
    width: 50px;
    height: 30px;
    font-size: 20px;
}

.goodsnum button{
    display: block;
    margin: 30px;
    width: 100px;
    height: 50px;
    font-size:16px;
    background-color:#FF4040;
    color:#FFFFFF;
    border: none;
}